/*#content {
border-top-right-radius: 8px;
width: 65%;
overflow-x: scroll;
margin-left: 21.9%;
margin-top:10%;
}

#sidebar {
margin-left: 5.5%;
}

#search {
left: 22%;
top: 15%;
}
*/
body {
margin-top:10%;
}